<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMeeting" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1250/meeting.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMeeting" contract="MeetingService.IMeeting"
                name="BasicHttpBinding_IMeeting" />
        </client>
    </system.serviceModel>
</configuration>